body{
background:black;
color:white;
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
font-family:Arial;
margin:0;
}

.container{
text-align:center;
padding:40px;
border-radius:20px;
background:rgba(255,255,255,0.05);
backdrop-filter:blur(10px);
box-shadow:0 0 30px rgba(255,255,255,0.1);
}

h1{
margin-bottom:10px;
letter-spacing:2px;
}

.info{
color:#cfcfcf;
margin-bottom:20px;
}

h2{
font-size:80px;
margin-bottom:30px;
transition:0.2s;
text-shadow:0 0 15px rgba(255,255,255,0.5);
}

.buttons{
display:flex;
gap:15px;
justify-content:center;
}

button{
padding:12px 25px;
font-size:18px;
border:none;
border-radius:10px;
cursor:pointer;
background:#9c9c9c;
color:black;
font-weight:bold;
transition:0.3s;
box-shadow:0 5px 10px rgba(0,0,0,0.5);
}

button:hover{
background:#ff9d00;
transform:scale(1.08);
box-shadow:0 10px 20px rgba(0,0,0,0.7);
}

button:active{
transform:scale(0.95);
}

footer{
position:absolute;
bottom:20px;
font-size:14px;
color:#aaa;
}