*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

body{
    background-color: black;
    font-family: monospace;
     display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

h2{
    color: rgb(116, 116, 116);
    font-size: 2rem;
    padding-bottom: 5rem;
}

p{
    padding: 15px;
    color: rgb(5, 183, 5);
    font-size: 2rem;
}