* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #555555, #000000);
  color: #fff;
  text-align: center;
}

h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.5);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.game {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 15px;
}

.box {
  width: 100px;
  height: 100px;
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid #fff;
  border-radius: 15px;
  font-size: 3rem;
  color: #ffffff;
  cursor: pointer;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.box:hover {
  background: rgba(141, 141, 141, 0.1);
  transform: scale(1.05);
}

.box:disabled {
  cursor: not-allowed;
  opacity: 0.8;
}

#reset-btn, #new-btn {
  padding: 0.8rem 1.5rem;
  font-size: 1.2rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background: linear-gradient(45deg, #3f3f3f, #000000);
  color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  transition: 0.3s;
}

#reset-btn:hover, #new-btn:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px rgb(0, 0, 0);
}

.msg-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,0.8);
  padding: 3rem 4rem;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 0 30px #000000;
  z-index: 10;
}

#msg {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.hide {
  display: none;
}
