*{
    margin: 0;
    padding: 0;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

#box{
    height: 300px;
    width: 300px;
    background-color: rgb(20, 90, 50);
    border: 2px solid white;
    border-radius: 10px;
}

button{
    background-color: crimson;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
}

button:active{
    scale: 0.95;
}