
*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
flex-direction:column;
background:#000;
overflow:hidden;
color:white;
}

/* heading */

header{
position:absolute;
top:40px;
text-align:center;
}

header h1{
font-size:44px;
letter-spacing:2px;
}

header p{
color:#888;
font-size:18px;
margin-top:8px;
}

/* ambient glow */

.glow{
position:absolute;
width:700px;
height:700px;
background:radial-gradient(circle,#ffffff,#000);
filter:blur(250px);
opacity:.25;
animation:glowmove 12s infinite alternate;
}

@keyframes glowmove{
from{transform:translate(-250px,-150px)}
to{transform:translate(250px,150px)}
}

/* rope */

.rope{
position:absolute;
top:170px;
width:70%;
height:6px;
background:linear-gradient(90deg,#555,#eee,#555);
border-radius:10px;
}

/* cards area */

.cards{
position:absolute;
top:170px;
display:flex;
gap:90px;
}

/* hanger */

.hanger{
display:flex;
flex-direction:column;
align-items:center;
animation:sway 5s ease-in-out infinite;
}

.hanger:nth-child(2){animation-delay:1s}
.hanger:nth-child(3){animation-delay:2s}
.hanger:nth-child(4){animation-delay:3s}

/* swing animation */

@keyframes sway{
0%{transform:rotate(-2deg)}
50%{transform:rotate(2deg)}
100%{transform:rotate(-2deg)}
}

/* clip */

.clip{
width:18px;
height:10px;
background:#aaa;
border-radius:2px;
}

/* string */

.string{
width:2px;
height:90px;
background:#aaa;
}

/* card */

.card{
width:190px;
height:230px;
background:linear-gradient(160deg,#111,#000);
border:1px solid #333;
border-radius:18px;
box-shadow:0 20px 60px rgba(0,0,0,.9);
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
padding:20px;
transition:.5s;
cursor:pointer;
}

/* tilted cards */

.c1{transform:rotate(-14deg)}
.c2{transform:rotate(11deg)}
.c3{transform:rotate(-9deg)}
.c4{transform:rotate(13deg)}

/* hover straighten */

.card:hover{
transform:rotate(0deg) translateY(-12px) scale(1.08);
border:1px solid rgb(255, 255, 255);
box-shadow:0 30px 80px rgba(139, 139, 139, 0.7);
}

/* card content */

.icon{
font-size:36px;
margin-bottom:15px;
}

.card h3{
margin-bottom:8px;
letter-spacing:1px;
}

.card p{
font-size:13px;
color:#aaa;
}

/* floating particles */

.particle{
position:absolute;
width:3px;
height:3px;
background:white;
border-radius:50%;
opacity:.5;
animation:float linear infinite;
}

@keyframes float{
0%{transform:translateY(100vh)}
100%{transform:translateY(-10vh)}
}

/* footer */

footer{
position:absolute;
bottom:30px;
font-size:12px;
color:#666;
letter-spacing:1px;
}