@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(-45deg,#858585,#868686,#626163,#3b3d41);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}

@keyframes gradient {
  0% {background-position:0% 50%;}
  50% {background-position:100% 50%;}
  100% {background-position:0% 50%;}
}

.container {
  background: rgba(115, 115, 115, 0.1);
  backdrop-filter: blur(15px);
  padding: 30px;
  border-radius: 20px;
  width: 400px;
  text-align: center;
  color: white;
  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

.top-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

button {
  border: none;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
}

h1 {
  font-size: 40px;
  margin: 10px;
}

input {
  width: 100%;
  padding: 12px;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  outline: none;
}

.stats {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.progress-bar {
  width: 100%;
  height: 8px;
  background: rgba(255,255,255,0.2);
  border-radius: 10px;
  margin-bottom: 10px;
}

#progress {
  height: 100%;
  width: 100%;
  background: lime;
  border-radius: 10px;
  transition: width 1s linear;
}

.end-game-container {
  display: none;
  flex-direction: column;
  margin-top: 20px;
}

.dark {
  background: #000000 !important;
}